* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html{
    margin: 0;
    padding: 0;
    --font-scale: 1;
    font-size: 16px;
    // font-size: .8333vw;
    font-size: 1.111vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
    @include mobile {
        // font-size: 12px;
        font-size: 4.267vw;
    }
}

body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #F8F8F4;
}

// Utility классы для текста с поддержкой масштабирования
// Классы созданы на основе реальных размеров, используемых в компонентах

.fs-4 {
    font-size: calc(4rem * var(--font-scale)) !important;
    @include mobile {
        font-size: calc(2rem * var(--font-scale)) !important;
    }
}

.fs-2 {
    font-size: calc(2rem * var(--font-scale)) !important;
}

.fs-1-5625 {
    font-size: calc(1.5625rem * var(--font-scale)) !important;
    @include mobile {
        font-size: calc(1rem * var(--font-scale)) !important;
    }
}

.fs-1-5 {
    font-size: calc(1.5rem * var(--font-scale)) !important;
}

.fs-1-25 {
    font-size: calc(1.25rem * var(--font-scale)) !important;
}

.fs-1-125 {
    font-size: calc(1.125rem * var(--font-scale)) !important;
}

.fs-1 {
    font-size: calc(1rem * var(--font-scale)) !important;
}

.fs-0-875 {
    font-size: calc(0.875rem * var(--font-scale)) !important;
}

.fs-0-75 {
    font-size: calc(0.75rem * var(--font-scale)) !important;
}

.fs-0-625 {
    font-size: calc(0.625rem * var(--font-scale)) !important;
}

// Скрытие изображений для слабовидящих
body.hide-images {
    img, svg[class*="img"], .hero-block__swiper img {
        visibility: hidden !important;
    }
}

// Тёмная тема
body.theme-dark {
    background-color: #000 !important;
    color: white !important;

    * {
        color: white !important;
        border-color: white !important;
        background-color: #000 !important;
        fill: #000 !important;
    }

    .header, .footer, .hero-block, .about, .history, .syconcart, 
    .questions, .news, .photoset, .form, .category, 
    .mobile-menu, .accessibility-panel__content {
        background-color: #000 !important;
        color: white !important;
    }

    .button-change-theme, .accessibility-panel__toggle {
        background-color: #333 !important;
    }
}

// Коричневая тема
body.theme-brown {
    background-color: #3b2716 !important;
    color: #a9e44d !important;

    * {
        color: #a9e44d !important;
        border-color: #a9e44d !important;
        fill: #3b2716 !important;
        background-color: #3b2716 !important;

    }

    .header, .footer, .hero-block, .about, .history, .syconcart, 
    .questions, .news, .photoset, .form, .category,
    .mobile-menu, .accessibility-panel__content {
        background-color: #3b2716 !important;
        color: #a9e44d !important;
    }

    .button-change-theme, .accessibility-panel__toggle {
        background-color: #5a3d23 !important;
    }

    // svg path {
    //     fill: #a9e44d !important;
    // }
}



hr {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}
fieldset {
    padding: 0;
    margin: 0;
    border: none;
    height: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.container {
    width: 100%;
    padding-inline: 3.75rem;
    @include mobile {
        padding-inline: 0.75rem;
    }
}

.mobile {
    display: none !important;
    @include mobile {
        display: flex !important;
    }
}

.desktop {
    display: flex !important;
    @include mobile {
        display: none !important;
    }
}

dialog {
    z-index: 100 !important;
}

$gray: #7B7B7B;
$black: #000000;
$white: #FFFFFF;
$accent: #A3301A;
$accent-dark: #460000; 