.form-block {
    width: 100%;

    padding: 2.5rem 3.125rem;
    background-color: #EDEDE6;
    border-radius: 1.25rem;

    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    
    @include mobile {
        padding: 3.125rem 1.8125rem;
    }
    &__title {
        width: 18.375rem;

        font-size: 1rem;
        line-height: 130%;
        color: #460000;

        @include mobile {
            text-align: center;
            font-weight: 600;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        &__inputs {
            display: flex;
            flex-direction: column;
            gap: 0.3125rem;
            .input-label {
                width: 100%;
                height: 3.125rem;
                
                display: flex;
                align-items: center;

                padding-inline: 1.875rem 0.9375rem;
                background-color: #fff;
                border-radius: 31.25rem;
                input {
                    width: 100%;
                    font-size: 1rem;
                    color: #171717;
                }
            }
            .input-phone {
                width: 100%;
                height: 3.125rem;
                
                display: flex;
                align-items: center;

                padding-inline: 1.875rem 0.9375rem;
                background-color: #fff;
                border-radius: 31.25rem;
                
                svg {
                    margin-right: 0.625rem;
                    
                    width: 1.125rem;
                    height: 1.125rem;
                }
                &__first-number {
                    font-size: 1rem;
                    color: #171717;
                    margin-right: 0.25rem;
                }
                input {
                    width: 100%;
                    font-size: 1rem;
                    color: #171717;
                }
            }
        }
    }
    &__yandex-form {
        width: 100%;
        
        iframe {
            width: 100%;
            height: 600px;
            border: none;
            border-radius: 1.25rem;
        }
    }
    &__button {
        width: 100%;
        height: 3.125rem;
        padding-inline: 1.875rem 0.3125rem;

        background-color: #650F11;
        border-radius: 31.25rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &__text {
            font-size: 1rem;
            letter-spacing: -0.0375rem;
            color: #fff;
        }
        &__svg-cont {
            width: 2.5625rem;
            height: 2.5625rem;
        
            border-radius: 100%;
            background-color: #A43033;

            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                width: 1.125rem;
                height: 0.5rem;
            }
        }
        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }
}

