dialog {
    border: none;
    margin: 0;
    padding: 0;
}

.popup-content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;

    width: 100%;
    height: 100dvh;
    min-height: 100dvh;

    background-color: #F8F8F4;

    overflow-y: scroll;

    display: flex;

    &__text-content {
        margin-top: 3.5rem;

        @include mobile {
            margin-top: 2rem;
        }

        &__head-info {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            @include mobile {
                gap: 0.375rem;
            }

            svg {
                width: 1.875rem;
                height: 1.875rem;

                @include mobile {
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }

            p {
                font-size: 0.75rem;
                line-height: 130%;
                letter-spacing: 0.0063rem;
                color: #2E2D2D;

                @include mobile {
                    font-size: 0.625rem;
                }
            }
        }

        &__title {
            margin-top: 1.875rem;

            font-size: 2rem;
            letter-spacing: -0.0625rem;
            color: #171717;

            @include mobile {
                margin-top: 1rem;
                font-size: 1.25rem;
                letter-spacing: -0.0375rem;
            }
        }

        &__desc {
            margin-top: 0.625rem;

            width: 100%;
            font-size: 1.25rem;
            line-height: 130%;
            letter-spacing: 0.0125rem;
            font-weight: 400;

            @include mobile {
                margin-top: 0.5rem;
                font-size: 1rem;
                letter-spacing: 0.0063rem;
            }
        }

        &__sub-title {
            font-size: 1.25rem;
            letter-spacing: -0.0375rem;
            color: #171717;
            font-weight: 600;

            @include mobile {
                font-size: 1rem;
                letter-spacing: -0.025rem;
            }
        }

        &__text {
            letter-spacing: 0.0063rem;
            font-size: 0.875rem;
            line-height: 130%;
            color: #2E2D2D;

            @include mobile {
                font-size: 0.75rem;
            }
        }

        &__img {
            width: 100%;
            height: fit-content;
        }

        &__tags {
            display: flex;
            align-items: center;
            gap: 0.3125rem;

            @include mobile {
                gap: 0.25rem;
                flex-wrap: wrap;
            }
        }

        &__tag {
            padding: 0.625rem 1.375rem;
            border-radius: 0.3125rem;
            background-color: #EDEDED;

            color: #747474;
            font-size: 0.75rem;

            @include mobile {
                padding: 0.5rem 1rem;
                font-size: 0.625rem;
            }
        }
    }

    &__content {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        width: 100%;
        min-height: 5rem;

        padding-inline: 3.75rem;
        border-bottom: 0.0625rem solid #B9B9B9;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            padding-inline: 1rem;
        }

        &__title {
            font-size: 1.5rem;
            color: #171717;
            letter-spacing: -0.0875rem;
            font-weight: 400;

            @include mobile {
                font-size: 1rem;
                letter-spacing: -0.05rem;
            }
        }

        &__item {
            width: 6.25rem;
            
            display: flex;
            align-items: center;
            gap: 0.9375rem;

            cursor: pointer;

            @include mobile {
                width: auto;
                gap: 0.5rem;
            }
            
            p {
                font-size: 1.25rem;
                letter-spacing: -0.0375rem;
                color: #171717;

                @include mobile {
                    font-size: 0.875rem;
                    letter-spacing: -0.025rem;
                }
            }

            &__back {
                width: 0.6875rem;
                height: 1.125rem;

                @include mobile {
                    width: 0.5rem;
                    height: 0.875rem;
                }
            }
            &__send {
                width: 1.625rem;
                height: 1.4375rem;

                margin-left: auto;

                @include mobile {
                    width: 1.25rem;
                    height: 1.125rem;
                }
            }
        }
    }

    &__container {
        width: 100%;
        padding-inline: 24.4375rem;

        @include mobile {
            padding-inline: 1rem;
        }
    }


    .mt-10 {
        margin-top: 0.625rem;

        @include mobile {
            margin-top: 0.5rem;
        }
    }

    .mt-20 {
        margin-top: 1.25rem;

        @include mobile {
            margin-top: 1rem;
        }
    }

    .mt-30 {
        margin-top: 1.875rem;

        @include mobile {
            margin-top: 1.25rem;
        }
    }

    .mt-40 {
        margin-top: 2.5rem;

        @include mobile {
            margin-top: 1.5rem;
        }
    }
}

.watch-more {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    padding-inline: 3.75rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;

    @include mobile {
        padding-inline: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        gap: 1.5rem;
    }

    &__title {
        font-size: 2rem;
        letter-spacing: -0.0625rem;
        color: #171717;
        font-weight: 500;

        @include mobile {
            font-size: 1.25rem;
            letter-spacing: -0.0375rem;

            padding-inline: 1rem;
        }
    }
}

.popup-slide-up-enter-active,
.popup-slide-up-leave-active {
    transition: transform 0.4s ease;
}

.popup-slide-up-enter-from {
    transform: translateY(100%);
}

.popup-slide-up-enter-to {
    transform: translateY(0);
}

.popup-slide-up-leave-from {
    transform: translateY(0);
}

.popup-slide-up-leave-to {
    transform: translateY(100%);
}