dialog{ border:none; margin:0; padding:0 }
.popup-content{ position:fixed; top:0; left:0; z-index:80; width:100%; height:100dvh; min-height:100dvh; background-color:#f8f8f4; overflow-y:scroll; display:flex }
.popup-content__text-content{ margin-top:3.5rem }
.popup-content__text-content__head-info{ display:flex; align-items:center; gap:.5rem }
.popup-content__text-content__head-info svg{ width:1.875rem; height:1.875rem }
.popup-content__text-content__head-info p{ font-size:.75rem; line-height:130%; letter-spacing:.0063rem; color:#2e2d2d }
.popup-content__text-content__title{ margin-top:1.875rem; font-size:2rem; letter-spacing:-0.0625rem; color:#171717 }
.popup-content__text-content__desc{ margin-top:.625rem; width:100%; font-size:1.25rem; line-height:130%; letter-spacing:.0125rem; font-weight:400 }
.popup-content__text-content__sub-title{ font-size:1.25rem; letter-spacing:-0.0375rem; color:#171717; font-weight:600 }
.popup-content__text-content__text{ letter-spacing:.0063rem; font-size:.875rem; line-height:130%; color:#2e2d2d }
.popup-content__text-content__img{ width:100%; height:fit-content }
.popup-content__text-content__tags{ display:flex; align-items:center; gap:.3125rem }
.popup-content__text-content__tag{ padding:.625rem 1.375rem; border-radius:.3125rem; background-color:#ededed; color:#747474; font-size:.75rem }
.popup-content__content{ width:100%; display:flex; flex-direction:column; align-items:center }
.popup-content__header{ width:100%; min-height:5rem; padding-inline:3.75rem; border-bottom:.0625rem solid #b9b9b9; display:flex; align-items:center; justify-content:space-between }
.popup-content__header__title{ font-size:1.5rem; color:#171717; letter-spacing:-0.0875rem; font-weight:400 }
.popup-content__header__item{ width:6.25rem; display:flex; align-items:center; gap:.9375rem; cursor:pointer }
.popup-content__header__item p{ font-size:1.25rem; letter-spacing:-0.0375rem; color:#171717 }
.popup-content__header__item__back{ width:.6875rem; height:1.125rem }
.popup-content__header__item__send{ width:1.625rem; height:1.4375rem; margin-left:auto }
.popup-content__container{ width:100%; padding-inline:24.4375rem }
.popup-content .mt-10{ margin-top:.625rem }
.popup-content .mt-20{ margin-top:1.25rem }
.popup-content .mt-30{ margin-top:1.875rem }
.popup-content .mt-40{ margin-top:2.5rem }
.watch-more{ display:flex; flex-direction:column; gap:2.5rem; padding-inline:3.75rem; padding-top:3.75rem; padding-bottom:3.75rem }
.watch-more__title{ font-size:2rem; letter-spacing:-0.0625rem; color:#171717; font-weight:500 }
.popup-slide-up-enter-active,.popup-slide-up-leave-active{ transition:transform .4s ease }
.popup-slide-up-enter-from{ transform:translateY(100%) }
.popup-slide-up-enter-to{ transform:translateY(0) }
.popup-slide-up-leave-from{ transform:translateY(0) }
.popup-slide-up-leave-to{ transform:translateY(100%) }